:root {
    --white-ish: #dfdfdf;
    /* colour palette */
    --palette-darkest: #121212;
    /*--palette-dark: #205295; */
    --palette-accent: #4682b4;
    /*--palette-accent: #519872;*/
    /*--palette-accent: #de743f;
    --palette-light: #d5cea3;
    --palette-lightest: #e5e5cb;*/
    /*
    --palette-darkest: #001414;
    --palette-dark: #12497d;
    --palette-accent: #de743f;
    --palette-light: #b3d0c0;
    --palette-lightest: #fffcf2;
    */
    --text-normal: medium;
    --text-larger: larger;
    --text-smaller: smaller;
    --text-xsmall: x-small;
}

@media (max-aspect-ratio: 3/4) {
    :root {
        --text-normal: max(125%, 4vw);
        --text-larger: max(larger, 5vw);
        --text-smaller: max(smaller, 3vw);
        --text-xsmall: max(x-small, 2vw);
    }
}

* {
    border-radius: 1ch;
}

#blurb {
    display: block;
    margin-top: auto;
}

#header_top_div {
    background-color: var(--palette-accent);
}

#header_top_div a {
    font-size: var(--text-larger);
    color: var(--palette-lightest);
}

#page_link_div {
    display: flex;
    flex-wrap: nowrap;
    min-height: 4ch;
    padding: 1ch;
    background-color: var(--palette-accent);
    justify-content: space-between;
}

#page_link_div a {
    color: var(--white-ish);
}

#copyright {
    font-size: var(--text-xsmall);
    text-align: center;
    color: gray;
}

main {
    min-height: 80vh;
}

.article_link {
    display: inline-block;
}

h3.list_element {
    display: inline-block;
    margin: auto;
    padding: 1ch;
}

.header_element {
    display: inline-block;
    padding: 1ch;
}

tr,td {
    color: var(--palette-light);
    border: thin solid var(--palette-light);
}

table {
    border: thin solid var(--palette-light);
    border-collapse: collapse;
}

th {
    color: var(--palette-accent);
}


body {
    background-color: var(--palette-darkest);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1ch;
    padding-right: 1ch;
    color: var(--palette-lightest);
    max-width: 160ch;
    min-width: min(80ch, 100vw);
    height: 100vh;
    font-size: var(--text-normal);
    font-family: sans-serif;
    text-size-adjust: auto;
    color: var(--white-ish);
}

pre {
    text-align: center;
    overflow: auto;
}

pre code {
    margin-left: auto;
    margin-right: auto;
    font-size: var(--text-larger);
    font-weight: bolder;
    text-align: left;
    padding: 1ch;
    max-width: 80ch;
    display: inline-block;
    background-color: var(--palette-accent);
    color: var(--palette-darkest);
}

code {
    color: var(--palette-accent);
}

h1 {
    margin-left: auto;
    margin-right: auto;
}


h1, h2, h3, h4, h5 {
    color: var(--palette-accent);
}

h3 {
    padding-left: 4ch;
}

h3 ~ p {
    padding-left: 4ch;
}

a {
    color: var(--palette-accent);
}

a:visited {
    color: var(--white-ish);
}

p {
    text-align: justify;
}


section.footnotes h2 {
    font-size: var(--text-normal);
    color: var(--palette-accent);
}

section.footnotes > ol {
    font-size: var(--text-normal);
    color: var(--palette-light);
}
