:root {
    --white-ish: #f6f1e9;
    /* colour palette */
    --palette-darkest: #001414;
    --palette-dark: #12497d;
    --palette-accent: #de743f;
    --palette-light: #b3d0c0;
    --palette-lightest: #fffcf2;
}

#blurb {
    display: block;
    margin-top: auto;
}

#header_top_div {
    background-color: var(--palette-dark);
}

#header_top_div a {
    font-size: larger;
}

#page_link_div {
    min-height: 4ch;
    padding: 1ch;
    background-color: var(--palette-dark);
}

#copyright {
    font-size: x-small;
    text-align: center;
    color: gray;
}

main {
    min-height: 80vh;
}

.article_link {
    display: inline-block;
}

h3.list_element {
    display: inline-block;
    margin: auto;
    padding: 1ch;
}

.header_element {
    display: inline-block;
    padding: 1ch;
}

tr,td {
    color: var(--palette-light);
    border: thin solid var(--palette-light);
}

table {
    border: thin solid var(--palette-light);
    border-collapse: collapse;
}

th {
    color: var(--palette-accent);
}


body {
    background-color: var(--palette-darkest);
    margin-left: auto;
    margin-right: auto;
    color: var(--palette-lightest);
    max-width: 80ch;
    text-size-adjust: auto;
}

pre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

code {
    color: var(--palette-accent);
    text-align: left;
    display:inline-block;
    font-size: larger;
    font-weight: bold;
}

h1 {
    color: var(--palette-accent);
    margin-left: auto;
    margin-right: auto;
}

h2,h3,h4 {
    color: var(--palette-light);
}

a {
    color: var(--palette-accent);
}

a:visited {
    color: var(--palette-light);
}

p {
    color: var(--palette-lightest);
    text-align: justify;
}


section.footnotes h2 {
    font-size: medium;
    color: var(--palette-accent);
}

section.footnotes > ol {
    font-size: medium;
    color: var(--palette-light);
}
